/*--GERAL--*/
*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

:root{
      font-size: 62.5%; 
      /*100 % = 16px (16px - vem do navegador)*/
      /*calculo: (10*100)/16 = 62.5/
      /*1rem = 10px*/
      /*
      Este calculo facilita para trabalharmos com rem 
      ex:
      font-size: 1.4rem; = 14px
      font-size: 1.6rem; = 16px
      */
      --primary-color:hsl(170, 100%, 26%);
      --headline: hsl(210, 11%, 15%);      
      --paragraph:  hsl(210, 9%, 31%);      
      --brand-beige :  hsl(39, 100%, 97%);
      --brand-light :   hsl(148, 23%, 89%);
      --nav-height : 7.2rem;
      --bg-light : hsl(180, 14%, 97%);

}

html, body{
      width: 100%;
      height: 100%;

      scroll-behavior: smooth;
}

body{
      text-align: center;
      overflow: overlay;
      font-family: 'DM Sans';

      background-color: var(--bg-light);
}

ul{
      list-style: none;
}

img{
      max-width: 100%;
}

.wrapper{
      width: 37.5rem;
      margin-inline: auto;
      padding-left: 2rem;
      padding-right: 2rem; 
}

section{
      padding-block: 10rem;
}

section .content p{
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 150%;
      color: var(--paragraph);
}

section header h4{
      font-weight: 700;
      font-size: 1.4rem; 
      line-height: 150%;
      letter-spacing: 0.08rem;
      text-transform: uppercase;
      color: var(--primary-color);

      margin-bottom: 1.6rem;
}

section header h2{
      font-size: 3rem;
      line-height: 3.9rem;
}

section header h1{
      font-size: 3.4rem;
      line-height: 130%;
      color: var(--headline);

      margin-bottom: 2.4rem;
}

/*--GERAL--*/

/*--HOME--*/
#home::before{
      content: "";
      width: 100%;
      height: calc(108rem + var(--nav-height));
      display: block;
      background-color: var(--brand-light);

      top: 0;
      left: 0;
      z-index: -1;
      position: absolute;
}

#home{     
      padding-top: calc(4.1rem + var(--nav-height));
      padding-left: 2rem;
      padding-right: 2rem; 
}

#home p{
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 150%;
      color: var(--paragraph);

      margin-bottom: 3.2rem;
}

#home button{
      gap: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
      border: none;
      height: 6.2rem;
      width: 26.3rem;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4rem;
      margin-bottom: 6rem;
      background: var(--primary-color);
      
      color: #fff;
      font-weight: 700;
      font-size: 1.4rem; 
      text-transform: uppercase;
}

#home img{
      display: block;
      width: 26.4rem;
      margin-inline: auto;
      object-position: 0 2rem;
}

#home .stats{
      width: 32.7rem;
      margin-inline: auto;
      padding-block: 4rem;
      border: 1px solid var(--brand-light);
      border-radius: .6rem;
      background: var(--brand-beige);

      gap: 6rem;
      display: flex;
      justify-content: center;
      flex-direction: column;
}

#home .stat h3{
      font-size: 4.8rem;
      line-height: 130%;
      color: var(--height);

      margin-bottom: .4rem;
}

#home .stat p{
      margin: 0;

      line-height: 150%;
      color: var(--primary-color);
}
/*--HOME--*/

/*--NAVIGATION--*/
#navigation{    
      display: flex;
      position: fixed;
      top: 0;
      width: 100vw;
      z-index: 2;
      padding: 1.6rem 2.4rem;
      height: var(--nav-height);
}

#navigation .wrapper{
      display: flex;
      align-items: center;
      justify-content: space-between;
}

#navigation.scroll{
      background: var(--primary-color);
}

#navigation.scroll svg:nth-child(1) path{
      fill: #fff;
}

#navigation.scroll button path{
      stroke: #fff;
}

#navigation button{
      border: none;
      cursor: pointer;
      background: none;
}

/*--NAVIGATION--*/

/*--MENU EXPANDED--*/

.menu, 
.close-menu,
body.menu-expanded .open-menu{
      opacity: 0;
      visibility: hidden;
      /* height: 0; */
      /* display: none; no video foi feito sem está linha */
}

body.menu-expanded .menu, 
body.menu-expanded .close-menu{
      opacity: 1;
      visibility: visible;
      /* height: auto; */
      /* display: block; no video foi feito sem está linha */
}
.menu{
      transform: translateY(100%);
}
body.menu-expanded .menu{
      width: 100vw;
      height: 100vh;
      padding-top: var(--nav-height);

      top: 0;
      left: 0;
      position: fixed;
      background-color: var(--primary-color);

      transform: translateY(0);
      transition: transform 700ms;
}

body.menu-expanded > :not(nav){
      display: none;
      visibility: hidden;
}

body.menu-expanded{
      overflow: hidden;
}

.menu ul:nth-child(1){
      gap: 4.8rem;
      display: flex;
      margin-top: 6rem;
      flex-direction: column;

      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.1rem;
}

.menu ul:nth-child(1) li a{
      color: #fff;
      text-decoration: none;      
}

body.menu-expanded nav{
      position: relative;
}

.menu .button{
      background: #fff;
      border-radius: 4rem;
      padding: 16px 32px;
      display: inline-block;
      margin-top: 4.8rem;
      margin-bottom: 8rem;

      font-weight: 700;
      font-size: 1.8rem;
      line-height: 2.3rem;
      text-decoration: none;
      text-transform: uppercase;
      color: var(--primary-color);
}

.social-links{
      gap: 3.2rem;
      display: flex;
      align-items: center;
      justify-content: center;
}

body.menu-expanded .logo, body.menu-expanded nav button{
      position: relative;
      z-index: 100;
}

body.menu-expanded .logo path{
      fill: #fff;
}

body.menu-expanded button path{
      stroke: #fff;
}

/*--MENU EXPANDED--*/

/*--SERVICE--*/

#services header h2{
      margin-bottom: 6rem;
}

#services .cards{
      gap: 3.2rem;
      display: flex;
      flex-direction: column;
}

#services .card{
      text-align: left;

      padding: 2.4rem;
      border-radius: .6rem;
      background: #FFFFFF;
      border: 1px solid var(--brand-light);
}

#services .card h3{
      margin-block: 1.6rem;
}

/*--SERVICE--*/

/*--ABOUT--*/

#about header h2 { 
      margin-bottom: 2.4rem;
}

#about { 
      text-align: left;

      background-color: var(--brand-beige);
}

#about .content p{
      margin-top: 2.4rem;
      margin-bottom: 6rem;
}

/*--ABOUT--*/