*{
      margin: 0;
      box-sizing: border-box;
}

:root{
      font-size: 62.5%; 
      /*100 % = 16px (16px - vem do navegador)*/
      /*calculo: (10*100)/16 = 62.5/
      /*1rem = 10px*/
      /*
      Este calculo facilita para trabalharmos com rem 
      ex:
      font-size: 1.4rem; = 14px
      font-size: 1.6rem; = 16px
      */
      --primary-color:hsl(170, 100%, 26%);
      --headline: hsl(210, 11%, 15%);      
      --paragraph:  hsl(210, 9%, 31%);      
}

header{
      width: 37.5rem;
      margin-left: auto;
      margin-right: auto;
      padding-left: 2rem;
      padding-right: 2rem;
}

body{
      margin-top: 4.1rem;

      text-align: center;
      font-family: 'DM Sans';
}

h4{
      font-size: 1.4rem; 
      color: var(--primary-color);
      
      margin-bottom: 1.6rem;
}

h1{
      font-size: 3.4rem;
      line-height: 130%;
      color: var(--headline);
      
      margin-bottom: 2.4rem;
}

p{
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 150%;
      color: var(--paragraph);
      
      margin-bottom: 3.2rem;
}

button{
      gap: 1.6rem;
      display: flex;
      align-items: center;
      justify-content: center;
      
      border: none;
      height: 6.2rem;
      width: 26.3rem;
      margin-left: auto;
      margin-right: auto;
      border-radius: 4rem;
      margin-bottom: 6rem;
      background: var(--primary-color);
      
      color: #fff;
      font-weight: 700;
      font-size: 1.4rem; 
      text-transform: uppercase;
}